<h2 mat-dialog-title>{{ obj.display }}</h2>
<mat-dialog-content class="flex-container">
    <picture>
        <source media='(min-width:0px)' srcset="/assets/example.jpg">
        <img mat-card-image src="">
    </picture>
    <div class="other">
        <div> Print Time: {{ obj.gcodeAnalysis.estimatedPrintTime | printTime }}</div><br>
        <div> Length: {{ obj.gcodeAnalysis.filament.tool0.length | filamentLength }}</div><br>
        <div> Dimensions: 
            Height: {{  obj.gcodeAnalysis.dimensions.height | mm }}, 
            Width: {{  obj.gcodeAnalysis.dimensions.width | mm }}, 
            Depth: {{  obj.gcodeAnalysis.dimensions.depth | mm }}
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="flex-container">
    <button mat-flat-button mat-dialog-close mat-dialog-close="true">Print</button>
</mat-dialog-actions>
