.files-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 1em;
  padding-top: 6.5em;
}

.modal {
  margin: 2em;
  flex: 0 1 250px;  
  margin: 1em;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-header {
  padding: 12px;
  word-break: break-all;
  margin-bottom: 0;
}

h4, h5 {
  color: rgb(200, 200, 200);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.visual {
  width: 100%;
  justify-content: center;
  display: flex;
}

