.files-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

.file {
  /* flex: 1 1 150px;  Stretching: */
  flex: 0 1 400px;  
  margin: 1em;
  /* max-width: 400px; */
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.visual {
  width: 100%;
  justify-content: center;
  display: flex;
}

.modal-header {
  word-break: break-all;
  margin-bottom: 0;
}