html {
  line-height: 1.15 /* 1 */;
  -webkit-text-size-adjust: 100% /* 2 */;
  background-color: #292D32;
}
body {
  margin: 0;
}

.neo-up {
  background: #2A2D32;
  box-shadow: 10px 10px 15px #24262B, -10px -10px 15px #30343A;
  border-radius: 20px;
}